/* Layout */
body {
  background-color: var(--theme-background);
  font-family: sans-serif;
  margin: 0;
}
.page-container {
  display: flex;
  justify-content: center;
  color: var(--theme-title-text);
}
.dashboard-container {
  width: 95%;
  margin-bottom: 20px;
}

/* Themeing */
.tile {
  border: 2px solid var(--theme-title-text);
}
.day {
  background-color: var(--theme-day-tile);
  color: var(--theme-day-text);
  border-color: var(--theme-day-text);
}
.night {
  background-color: var(--theme-night-tile);
  color: var(--theme-night-text);
  border-color:var(--theme-night-text);
}
.day.theme1 {
  background-color: var(--theme-day-bar-1);
}
.day.theme2 {
  background-color: var(--theme-day-bar-2);
}
.day.theme3 {
  color: var(--theme-day-bar-3);
  background-color: var(--theme-chartarea);
}
.night.theme1 {
  background-color: var(--theme-night-bar-1);
}
.night.theme2 {
  background-color: var(--theme-night-bar-2);
}
.night.theme3 {
  color: var(--theme-night-bar-3);
  background-color: var(--theme-chartarea);
}

/* Title */
.city{
  margin-left: 2rem;
}

/* Forecast layout */
.forecast-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25vh;
  gap: 2vh;
}
.forecast-column {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 2vh;
  align-items: center;
  justify-content: space-between;
}

/* Primary Forecast */
.primary {
  flex: 1;
  flex-grow: 2;
  border-radius: 10px;
}
.primary-day {
  margin: 10px;
}
.primary-middle-container {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.primary-temp {
  margin-left: 20px;
  flex: 1;
  font-size: 4.5rem;
}
.primary-conditions {
  flex: 1;
  font-size: 5rem;
}
.primary-wind {
  margin-top: 0;
  margin-left: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.primary-wind i {
  display: flex;
  font-size: 2.2rem;
  margin: 0;
}
.primary-wind p {
  display: flex;
  margin: 0;
}
.primary-percip {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.primary-percip i {
  margin: 0;
  font-size: 1.5rem;
}
.primary-percip p {
  margin: 0;
  font-size: 1.5rem;
}

/* Tonight forecast */
.later {
  flex: 1;
  flex-grow: 1;
  border-radius: 10px;
}
.later-day {
  margin: 10px;
}
.later-middle-container {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.later-bottom-container {
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.later-temp {
  margin-left: 20px;
  flex: 1;
  font-size: 4rem;
}
.later-conditions {
  flex: 1;
  margin-right: 10px;
  font-size: 4.5rem;
}
.later-wind {
  margin-top: 0;
  margin-left: 20px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.later-wind i {
  display: flex;
  font-size: 2rem;
  margin: 0;
}
.later-wind p {
  display: flex;
  margin: 0;
}
.later-percip {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.later-percip i {
  margin: 0;
  font-size: 1.3rem;
}
.later-percip p {
  margin: 0;
  font-size: 1.3rem;
}

/* Secondary forecast */
.secondary {
  flex: 1;
  width: 100%;
  height: 10vh;
  border-radius: 10px;
}
.secondary-day {
  margin: 10px;
}
.secondary-middle-container {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.secondary-temp {
  margin-left: 20px;
  flex: 1;
  font-size: 2rem;
}
.secondary-conditions {
  flex: 1;
  font-size: 2.5rem;
}

/* Chart */
.chart-container {
  display: flex;
  height: 25vh;
  margin-top: 3vh;
  border-radius: 10px;
  background-color: var(--theme-chartarea);
  padding: 10px;
}
.key {
  width: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.key p {
  margin: 0;
  text-align: right;
  padding-right: 2px;
}
.unit {
  font-size: 90%;
}
.unit-mph {
  font-size: 70%;
}
.graphic-container {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}
.wind-graphic-container {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0px;
}
.chart-line{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--theme-title-text);
}
.line1 {
  top: 1%;
}
.line2 {
  top: 25%;
}
.line3 {
  top: 50%;
}
.line4 {
  top: 75%;
}
.line5 {
  top: 100%;
}
.chart-line.line5 {
  background-color: black;
}
.mark-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.mark-container i {
  font-size: 1.2rem;
}
.bar {
  flex: 1;
  border-radius: 2px 2px 0px 0px;
  z-index: 3;
}
.mark {
  position: absolute;
  top: 500px;
  text-align: center;
}
