:root{
  --theme-black: rgb(38, 38, 38);
  --theme-white: rgb(250, 250, 250);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
@keyframes color {
  0% {
    background: #4fcae6;
  }
  20% {
    background: #e88dde;
  }
  40% {
    background: #fb7465;
  }
  60% {
    background: #ffe16a;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #4fcae6;
  }
}

body {
  margin: 0;
  background: #33cccc; /* Fallback */
  animation: color 30s infinite linear;
}
svg {
  color: white;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  /* border: 3px solid green; */
}
.form-container{
  position: relative;
  min-width: 40%;
}
.form-inputs-container {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
fieldset{
  border: none;
}
input[type=text] {
  flex-grow: 10;
}
input[type=submit] {
  flex-grow: 1;
}
input {
  padding: 12px 10px;
  background-color: rgb(38, 38, 38);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: x-large;
}
button {
  padding: 12px 10px;
  background-color: rgb(38, 38, 38);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
}
.icon{
  height: 2rem;
  width: auto;
}

/* Search dropdown autocomplete */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--theme-white);
  min-width: 60%;
  border: 2px solid var(--theme-black);
  border-radius: 8px;
  margin-left: 12px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}

.dropdown-entry {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

.dropdown-entry:hover {
  cursor: pointer;
}

.match {
  font-weight: bolder;
  color: navy;
}