html {
    background: lightcoral;
}

body{
    padding: 0px;
    margin: 0px;
}

nav {
    display: block;
    height: 4em;
    background-color: black;
}

nav>a {
    color: white;
    font-size: xx-large;
}

nav>form {

}

.weather-wrapper{
    margin-left: 10pc;
    margin-right: 10pc;
    display: grid;
    grid-template-columns: 1.5fr repeat(7, 1fr);
    grid-auto-rows: minmax(1em, auto);
    grid-gap: 1em;
}

.weather-title{
    border: #333 1px solid;
    text-align: center;
    padding: 10px;
    grid-row: 1;
}

.weather-entry-big{
    border: #333 1px solid;
    padding: 1em;
    display: grid;
    grid-template-columns: 3;
}

.big-icon{
    grid-column: 1/2;
    grid-row: 1/2;
}

.big-temp{
    grid-column: 3;
    grid-row: 1;
}

.big-wind{
    grid-column: 3;
    grid-row: 2;
}

.big-desc{
    grid-column: 1/3;
    grid-row: 3;
}

.weather-entry{
    border: #333 1px solid;
    padding: 1em;
}

.weather-city{
    margin-left: 10pc;
}

.form-group{
    display: inline;
}

.search{
    background: lightblue;
}

.legend{

}

.invalid-feedback{

}