{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/' + weather.theme + '.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock styles %}
{% block content %}
    <div class="page-container">
        <div class="dashboard-container">
            <h1 class="city">{{ weather.city }}</h1>
            {% include './components/forecast.html' %}
            {% include './components/temperature.html' %}
            {% include './components/precipitation.html' %}
            {% include './components/wind.html' %}
        </div>
    </div>
{% endblock content %}