<footer>
    <div class="attribution-images">
        <img
        src="{{ url_for('static', filename='icons/national-weather-service.svg') }}"
        alt=""
        class="footer-icon"
        />
        <img
        src="{{ url_for('static', filename='icons/open-street-maps.svg') }}"
        alt=""
        class="footer-icon"
        />
        <img
        src="{{ url_for('static', filename='icons/NOAA.svg') }}"
        alt=""
        class="footer-icon"
        />
    </div>
    <p><strong>&copy; Sam O'Neal 2024</strong></p>
</footer>