{% extends 'weather.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
{% endblock styles %}
{% block content %}
<div class="page-container">
    <form action="" method="post" class="form-layout-splash">
        {{ form.hidden_tag() }}
      <fieldset class="form-container">
        {{ form.location }}
        <button type=submit name="submit" value="Forecast"><img class="icon" src="../static/icons/magnifying-glass-for-search-svgrepo-com.svg" alt=""></button>
        <button><img class="icon" src="../static/icons/location-pin-svgrepo-com.svg" alt=""></button>
      </fieldset>
    </form>
</div>
{% endblock content %}