<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons-wind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    {% block nav %}
    {% endblock nav %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
