<section>
    <h2 class="section-title">Forecast</h2>
    <div class="forecast-container">
        <article class="primary tile {{ 'day' if weather.current.isDaytime else 'night' }}">
            <h3 class="primary-day">{{ weather.current.time.strftime("%-m/%-d %A") }}</h3>
            <div class="primary-middle-container">
                <p class="primary-temp">{{ weather.current.temperature }}<span class="unit">&degF</span></p>
                <i class="wi {{ weather.current.icon }} primary-conditions"></i>
                <div class="primary-percip">
                    <i class="wi wi-umbrella"></i>
                    <p>{{ weather.current.probabilityOfPrecipitation.value }}%</p>
                </div>
            </div>
            <div class="primary-wind">
                <i class="wi wi-strong-wind"></i>
                <p>{{ weather.current.windSpeed }} <span class="unit">mph</span> </p>
                <p/>{{ weather.current.windDirection }}</p>
                <i class="wi wi-wind {{ weather.current.windIcon }}"></i>
            </div>
        </article>
            {% if weather.current.isDaytime %}
                {% set index = 2 %}
                {% set r = 8 %}
                <article class="later tile {{ 'day' if weather.forecast[1].isDaytime else 'night' }}">
                    <h3 class="later-day">{{ weather.forecast[1].time.strftime("%-m/%-d %A") }}</h3>
                        <div class="later-middle-container">
                            <p class="later-temp">{{ weather.forecast[1].temperature }}<span class="unit">&degF</span></p>
                            <i class="wi {{ weather.forecast[1].icon }} later-conditions"></i>
                        </div>
                        <div class="later-bottom-container">
                            <div class="later-wind">
                                <p>{{ weather.forecast[1].windSpeed }} <span class="unit">mph</span></p>
                                <p/>{{ weather.forecast[1].windDirection }}</p>
                                <i class="wi wi-wind {{ weather.forecast[1].windIcon }}"></i>
                            </div>
                            <div class="later-percip">
                                <i class="wi wi-umbrella"></i>
                                <p>{{ weather.forecast[1].probabilityOfPrecipitation.value }}%</p>
                            </div>
                        </div>
                </article>
            {% else %}
                {% set index = 1 %}
                {% set r = 10 %}
            {% endif %}
        {% for i in range(r) %}
            {% if i % 2 == 0 %}
                <div class="forecast-column">
            {% endif %}
            <article class="secondary tile {{ 'day' if weather.forecast[i + index].isDaytime else 'night' }}">
                <h3 class="secondary-day">{{ weather.forecast[i + index].time.strftime("%-m/%-d %A") }}</h3>
                <div class="secondary-middle-container">
                    <h2 class="secondary-temp">{{ weather.forecast[i + index].temperature }}<span class="unit">&degF</span></h2>
                    <i class="wi {{ weather.forecast[i + index].icon }} secondary-conditions"></i>
                </div>
            </article>
            {% if i % 2 == 1 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>