<section>
    <h2 class="section-title">Forecast</h2>
    <div class="forecast-container">
        {% include './components/now.html' %}
        {% if weather.current.isDaytime %}
            {% set index = 2 %}
            {% set r = 8 %}
            {% include './components/later.html' %}
        {% else %}
            {% set index = 1 %}
            {% set r = 10 %}
        {% endif %}
        {% for i in range(r) %}
            {% if i % 2 == 0 %}
                <div class="forecast-column">
            {% endif %}
            <article class="secondary tile {{ 'day' if weather.forecast[i + index].isDaytime else 'night' }}">
                <h3 class="secondary-day">{{ weather.forecast[i + index].time.strftime("%-m/%-d %A") }}</h3>
                <div class="secondary-middle-container">
                    <h2 class="secondary-temp">{{ weather.forecast[i + index].temperature }}<span class="unit">&degF</span></h2>
                    <i class="wi {{ weather.forecast[i + index].icon }} secondary-conditions"></i>
                </div>
            </article>
            {% if i % 2 == 1 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>