<article>
  <h2 class="chart-title">Precipitation</h2>
  <div class="chart-container tile">
    <div class="key">
      {% for label in weather.stats.precip %}
        <p>{{ label }}<span class="unit">%</span></p>
      {% endfor %}
    </div>
    <div class="graphic-container">
      {% for i in range(1,6) %}
        <div class="chart-line line{{ i }}"></div>
      {% endfor %}
      {% for item in weather.hourly %}
          {% set height = ((item.probabilityOfPrecipitation.value - weather.stats.precip.min) / weather.stats.precip.diff) * 100%}
          {% if item.isDaytime %}
              {% set class = 'day' %}
          {% else %}
              {% set class = 'night' %}
          {% endif %}
          {% set style = 'style=height:'+ height|string +'%'%}
          <div class="bar theme2 {{ class }}" {{ style }}></div>
      {% endfor %}
    </div>
  </div>
</article>
